#topbar
{
	margin-top: -20px;
	height: 1%;
	color: #27A8A8;
}

#topxar
{
	margin-top: -20px;
}
#botbar
{
	background-color: #1A4040;
	bottom:0px;
}
#console
{
	margin-left:3%;
	float:left;
  	height: 430px;
  	width:90%; 
  	padding:2px; 
  	background-color: #002b36;
}
#sub-button
{
	display: none;
}
#area
{
	font-size: 18px;
	width: 100%;
	height: 430px;
	overflow: auto;
	margin-left: 5px;
	color: #839496;
	font-family: "monaco";
	padding: 2px;


}
#tb
{
	border: none;
	font-size: 19px;
	outline: 0 none;
	background-color: #002b36;
	color: #839496;
	font-family: "monaco";

}
textarea:focus, input:focus{
    outline: 0 none;
}
#text 
{
font-size: 140%;
font-family: "Calibri"
color: white;
}