>>>&nbsp;print a<br>
				&nbsp;<font color="RED">Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'a' is not defined</font><br>>>>&nbsp;a = 234<br>>>>&nbsp;print a<br>
				&nbsp;<font color="RED">234</font><br>>>>&nbsp;def helo()L<br>
				&nbsp;<font color="RED">File "<stdin>", line 1
    
              ^
SyntaxError: invalid syntax</font><br>>>>&nbsp;def helo()L<br>
				&nbsp;<font color="RED">File "<stdin>", line 1
    
              ^
SyntaxError: invalid syntax</font><br>